        .con{
            width:100%;
            height:100%;
            background:rgba(0,0,0,.1);
        }
        #msg{
            position:absolute;
            top:30%;
            left:40%;
            height: 120px;
            box-shadow: 0px 0px 10px 5px #4d97d6;
        }
        .info_message {
            color: #000;
            background:#fff;
            height: 120px;
            display: inline-block;
            width:400px;
            border-radius: 5px;
        }
        #alertSure{
            position:absolute;
            top: 74px;
            left: 40%;
            width: 70px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            background: #2e9cce;
            color: #fff;
            cursor:pointer;
            border-radius:5px;
        }
        .detail_message{
            width: 100%;
            text-align: center;
            overflow: hidden;
            display: inline-block;
            padding: 10px;
            margin: auto;
            margin-top: 16px;
            font-size: 17px;
            font-weight: bolder;
            color: #2b9bc5;
        }
        #alertSure:hover,#alertCancel:hover{
            background:rgba(118, 206, 247, 0.88);
        }